html, body{
  width: 100vw;
  height: 100vh;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.box{
  overflow-y: scroll;
  max-height: 750px;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  place-items: center;
  border: 3px solid black;
  height: max-content;
  width: max-content;
}

.box:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.create-box{
  border-radius: 10px;
  row-gap: 20%;
  padding: 30px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  place-items: left;
  height: max-content;
  width: max-content;
}

@media screen and (max-width:776px) {
  .create-box{
    grid-template-columns:1fr;
    row-gap: 5%;
    padding: 30px;
  }
}

@media screen and (max-width: 430px) {
  .create-box{
    grid-template-columns:1fr;
    row-gap: 5%;
    padding: 20px;
  }

  .create-event-input{
    width: 150px;
  }
}

.btn-add-tasks{
  font-size: 20px !important;
  margin: 10px;
  width: 300px;
  color: aqua;
}

.create-event-input{
  height: 40px;
  width: 300px;
  border: 2px solid black ;
  border-radius: 5px;
}

.back-btn-class{
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 5%
}

.back-btn{
  cursor: pointer;
  color: black;
}

.add-btn-div{
  width: 100%;
  margin: 15px;
  display: flex;
  justify-content: center;
}

.add-tasks-btn{
  font-size: 20px !important;
  margin: 10px;
  width: 300px;
  color: aqua;
}

.card{
  color: white;
  background: #dc3545;
  width: 300px;
  height: 400px;
  padding: 20px;
  margin-bottom: 10px;
  border: 3px solid black;
}

.close-btn-pos{
  text-align: right;
  cursor:pointer
}

.card:hover{
  background-color: #dc0f23 !important;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: 1px solid black;
}

.two-btn-pos{
  display: flex;
  justify-content: right;
}

.sort-date-input{
  margin: 10px;
  width: 250px;
  border: 2px solid black ;
  border-radius: 5px;
  padding: 2px;
}